<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 의정부 을지대병원 장례식장 </title>
    <link rel="shortcut icon" href="/img/emc.jpg">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/sub.css">
    <link rel="stylesheet" href="/sub_status.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>

<body>
    <div id="Wrap">
        <!-- header 영역 -->
        <%-include('header.ejs') %>

            <!-- Main -->
            <main>
                <div id="title">
                    빈소 현황
                </div>

                <!-- <%- JSON.stringify(빈소현황) %> -->

                <!-- 빈소 현황 -->
                <section id="page">
                    <div id="pageWrap">
                        <div id="page01" class="page">
                            <%
                                for(var i=0; i<4; i++){
                                    var statusData = 빈소현황[i] || {};
                                %>
                                    <div class="status status0<%= i %>">
                                        <h1>
                                            <%= statusData.deceasedName || '' %>
                                        </h1>
                                        <div class="status-name status-name01">
                                            <h4> 빈소 </h4>
                                            <h4> 상주명 </h4>
                                        </div>
                                        <div class="status-name status-name02">
                                            <h4> 발인일자 </h4>
                                            <h4> 장지 </h4>
                                        </div>
                                        <div class="status-contents status-contents01">
                                            <p>
                                                <%= statusData.room  || '' %>
                                            </p>
                                            <div class="person-name">
                                                <div class="person-name-row">
                                                    <%= statusData.mournerName  || '' %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="status-contents status-contents02">
                                            <p>
                                                <%= statusData.funeralDate  || ''  %> &nbsp; <i class="fa-regular fa-clock"></i>
                                                    <%= statusData.funeralTime  || ''  %>
                                            </p>
                                            <p>
                                                <%= statusData.funeralPlace  || ''  %>
                                            </p>
                                        </div>
                                    </div>
                                <% 
                                }
                            %>
                        </div>
                        <div id="page02" class="page">
                            <%
                                for(var i=4; i<8; i++){
                                    var statusData = 빈소현황[i] || {};
                                %>
                                    <div class="status status0<%= i %>">
                                        <h1>
                                            <%= statusData.deceasedName || '' %>
                                        </h1>
                                        <div class="status-name status-name01">
                                            <h4> 빈소 </h4>
                                            <h4> 상주명 </h4>
                                        </div>
                                        <div class="status-name status-name02">
                                            <h4> 발인일자 </h4>
                                            <h4> 장지 </h4>
                                        </div>
                                        <div class="status-contents status-contents01">
                                            <p>
                                                <%= statusData.room  || '' %>
                                            </p>
                                            <div class="person-name">
                                                <div class="person-name-row">
                                                    <%= statusData.mournerName  || '' %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="status-contents status-contents02">
                                            <p>
                                                <%= statusData.funeralDate  || ''  %> &nbsp; <i class="fa-regular fa-clock"></i>
                                                    <%= statusData.funeralTime  || ''  %>
                                            </p>
                                            <p>
                                                <%= statusData.funeralPlace  || ''  %>
                                            </p>
                                        </div>
                                    </div>
                                <% 
                                }
                            %>
                        </div>
                        <div id="page03" class="page">
                            <%
                                for(var i=8; i<12; i++){
                                    var statusData = 빈소현황[i] || {};
                                %>
                                    <div class="status status0<%= i %>">
                                        <h1>
                                            <%= statusData.deceasedName || '' %>
                                        </h1>
                                        <div class="status-name status-name01">
                                            <h4> 빈소 </h4>
                                            <h4> 상주명 </h4>
                                        </div>
                                        <div class="status-name status-name02">
                                            <h4> 발인일자 </h4>
                                            <h4> 장지 </h4>
                                        </div>
                                        <div class="status-contents status-contents01">
                                            <p>
                                                <%= statusData.room  || '' %>
                                            </p>
                                            <div class="person-name">
                                                <div class="person-name-row">
                                                    <%= statusData.mournerName  || '' %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="status-contents status-contents02">
                                            <p>
                                                <%= statusData.funeralDate  || ''  %> &nbsp; <i class="fa-regular fa-clock"></i>
                                                    <%= statusData.funeralTime  || ''  %>
                                            </p>
                                            <p>
                                                <%= statusData.funeralPlace  || ''  %>
                                            </p>
                                        </div>
                                    </div>
                                <% 
                                }
                            %>
                        </div>
                        <div id="page04" class="page">
                            <%
                                for(var i=12; i<16; i++){
                                    var statusData = 빈소현황[i] || {};
                                %>
                                    <div class="status status0<%= i %>">
                                        <h1>
                                            <%= statusData.deceasedName || '' %>
                                        </h1>
                                        <div class="status-name status-name01">
                                            <h4> 빈소 </h4>
                                            <h4> 상주명 </h4>
                                        </div>
                                        <div class="status-name status-name02">
                                            <h4> 발인일자 </h4>
                                            <h4> 장지 </h4>
                                        </div>
                                        <div class="status-contents status-contents01">
                                            <p>
                                                <%= statusData.room  || '' %>
                                            </p>
                                            <div class="person-name">
                                                <div class="person-name-row">
                                                    <%= statusData.mournerName  || '' %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="status-contents status-contents02">
                                            <p>
                                                <%= statusData.funeralDate  || ''  %> &nbsp; <i class="fa-regular fa-clock"></i>
                                                    <%= statusData.funeralTime  || ''  %>
                                            </p>
                                            <p>
                                                <%= statusData.funeralPlace  || ''  %>
                                            </p>
                                        </div>
                                    </div>
                                <% 
                                }
                            %>
                        </div>
                    </div>
                </section>

                <%# 페이지 이동버튼 만들기 %>
                <%# 버튼마다 각각의 페이지 보여주면 됨 %>
                <section id="pagebutton">

                    <input type="button" id="before" name="pageButton">
                    <input type="radio" id="pageButton01" name="pageButton">
                    <input type="radio" id="pageButton02" name="pageButton">
                    <input type="radio" id="pageButton03" name="pageButton">
                    <input type="radio" id="pageButton04" name="pageButton">
                    <input type="button" id="next" name="pageButton">

                    <div id="buttonLabel">
                        <label for="before" class="btn btn-before">
                            <i class="fa-solid fa-square-caret-left"></i>
                        </label>
                        <label for="pageButton01" class="btn btn01">
                            <i class="fa-solid fa-1"></i>
                        </label>
                        <label for="pageButton02" class="btn btn02"><i class="fa-solid fa-2"></i></label>
                        <label for="pageButton03" class="btn btn03"><i class="fa-solid fa-3"></i></label>
                        <label for="pageButton04" class="btn btn04"><i class="fa-solid fa-4"></i></label>
                        <label for="next" class="btn btn-next">
                            <i class="fa-solid fa-square-caret-right"></i>
                        </label>
                    </div>
                </section>
            </main>

            <%# footer 영역 %>
            <%- include('footer.ejs') %>
    </div>

    <script src="/js/main.js" type="text/javascript"></script>
    <script src="/js/status.js" type="text/javascript"></script>

</body>

</html>