<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 의정부 을지대병원 장례식장 </title>
    <link rel="shortcut icon" href="/img/emc.jpg">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/sub.css">
    <link rel="stylesheet" href="/sub_thanks.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>

<body>
    <div id="Wrap">
        <!-- header 영역 -->
        <%-include('header.ejs') %>

            <!-- Main -->
            <main>
                <div id="title">
                    감사인사 전하기
                </div>
                <section id="thanksBoard">
                    <div class="thanksinfo">
                        <p>
                            <i class="fa-solid fa-lightbulb"></i>
                            장례지도사 또한 누군가의 소중한 가족입니다.
                        </p>
                        <p>
                            <i class="fa-solid fa-lightbulb"></i>
                            비난과 욕설은 삼가주시기 바랍니다.
                        </p>
                    </div>

                    <!-- <%- JSON.stringify(감사인사) %> -->

                    <h3> 감사인사 게시판 </h3>

                    <a href="/euljifuneral/thanks/write">
                        <button type="button" id="write" name="write" value="write" > 작성하기 </button>
                    </a>

                    <div class="hiddenbox">
                        <div class="boardBox">
                            <div class="board board01">
                                <table class="boardTable">
                                    <thead class="boardthead">
                                        <tr class="tabletr tabletitle">
                                            <th> 번호 </th>
                                            <th> 빈소 </th>
                                            <th> 고인명 </th>
                                            <th> 제목 </th>
                                            <th> 작성자 </th>
                                            <th> 작성일자 </th>
                                            <th> 수정하기 </th>
                                            <th> 삭제하기 </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% for (var i=0; i<목록.length; i++) {

                                            %>
                                            <tr>
                                                <td> <%= (현재페이지-1)*12 +i+1 %> </td>
                                                <td> <%= 감사인사[i].roomNum %> </td>
                                                <td> <%= 감사인사[i].deceasedName %> </td>
                                                <td> 
                                                    <a href="/euljifuneral/thanks/detail/<%= 감사인사[i]._id %>"><%= 감사인사[i].writetitle %></a>
                                                    </td>
                                                <td> <%= 감사인사[i].writename %> </td>
                                                <td> <%= 감사인사[i].writeDate %> </td>
                                                <td> <a href="/euljifuneral/thanks/edit/<%= 감사인사[i]._id %>"> 수정하기</a> </td>
                                                <td>
                                                    <form action="/euljifuneral/thanks/delete" method="POST" id="deleteForm">
                                                        <button type="submit" id="deletebtn" name="delete" value="delete"> 삭제 </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <%
                                        } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="thanksBtn">

                    <div>
                        <span class="thanksbtn thanksbtn01"> 
                            <a href="/euljifuneral/thanks/page/1"> 01 </a>
                        </span>
                        <span class="thanksbtn thanksbtn02"> 
                            <a href="/euljifuneral/thanks/page/2"> 02 </a>
                        </span>
                        <span class="thanksbtn thanksbtn03"> 
                            <a href="/euljifuneral/thanks/page/3"> 03 </a>
                        </span>
                        <span class="thanksbtn thanksbtn04"> 
                            <a href="/euljifuneral/thanks/page/4"> 04 </a>
                        </span>
                        <span class="thanksbtn thanksbtn05"> 
                            <a href="/euljifuneral/thanks/page/5"> 05 </a>
                        </span>
                    </div>
                </section>

            </main>

            <%# footer 영역 %>
            <%- include('footer.ejs') %>
    </div>

    <script src="/js/main.js" type="text/javascript"></script>
    
</body>

</html>